@model CatalogProductsModel

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
    <div class="warning">
        @Model.WarningMessage
    </div>
}

@if (Model.Products.Count > 0)
{
    <div class="@(Model.ViewMode == "list" ? "product-list" : "product-grid")">
        <div class="item-grid" style="display:block !important;">
            @foreach (var product in Model.Products)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", product)
                </div>
            }
        </div>
    </div>

    var pager = Html.Pager(Model)
        .QueryParam("pagenumber")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .RenderEmptyParameters(true);

    @if (!await pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
}
else 
{
    @*<div style="margin-left:20px;margin-top:20px;">
        <p style="margin-bottom:20px;">
            Not finding what you are looking for? <a href="/CreateInquiry" style="color: #00b0f0; font-size: 16px; font-weight: 600; border-bottom: 3px solid black;">Click here</a> to send us an inquiry and we will check with our suppliers if we can find it for you.
        </p>
    </div>*@
}