<div class="page checkout-page">
    <div class="page-body checkout-data">
        <ol class="opc" id="checkout-steps">
            <li id="opc-confirm_order" class="tab-section allow">
                <div class="step-title" style="color:white;background-color:green">
                    <h2 class="title">Thank you for your inquiry. A customer service representative will contact you shortly.</h2>
                </div>

            </li>
        </ol>
    </div>
</div>
