* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html body {
    background-color: #f6f6f6;
    color: #4D4D4D;
}

img {
    object-fit: cover;
}

.searchBar {
    background-color: #292647;
    height: 60px;
}

.categoryNavigationTitle {
    background-color: white;
    min-width: 275px;
    align-items: center;
    margin-top: 10px;
    padding: 0px 20px;
    border-bottom: 1px solid #F6F6F6;
}

    .categoryNavigationTitle img {
        margin-bottom: 8px;
    }

.searchBarForm {
    padding-left: 25px;
}

.searchBarInput {
    height: 40px;
    padding: 0px 12px;
    margin-right: 15px;
}

    .searchBarInput::placeholder {
        color: #BEBEBE;
    }

.searchBarButton {
    background-color: white;
    border: none;
    /* padding: 6px; */
    min-width: 40px;
    height: 40px;
}

.categoryList {
    list-style: none;
    background-color: white;
    min-width: 275px;
}

.categoryListItem {
    color: #777777;
    padding: 11px 20px;
    border-bottom: 1px solid #F6F6F6;
}

.topRow {
    height: 66.67%;
}

    .topRow .colLeft {
        width: 66.7%;
    }

    .topRow .colRight {
        width: 33.33%;
    }



.bottomRow {
    height: 33.33%;
}

.imgLabel {
    background-color: rgba(255,255,255,0.7);
    padding: 5px 10px;
    color: black;
    position: absolute;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 13px;
}

.imgHolder {
    width: 33.33%;
}

.imageGrid {
    /*margin-left: 5px;
    margin-top: 5px;*/
}


.colRight .imgLabel.bottom-left {
    bottom: 22px;
    left: 5px;
}

.imgLabel.bottom-left {
    bottom: 5px;
    left: 5px;
}

.imgLabel.bottom-right {
    bottom: 5px;
    right: 22px;
}
